target/
resources/public/*.js
resources/public/*.out
.calva
.cpcache
.lsp/*
!.lsp/config.edn
.portal
.zzz
.clj-kondo/*
!.clj-kondo/config.edn
.nrepl-port

resources/public/js
node_modules/
/report.html
.shadow-cljs

imgui.ini

# ignoring .blend files for now
resources/blender/*
