;; shadow-cljs configuration
{:deps {:aliases [:shadow-cljs]}

 :builds
 {:game
  {:target :browser
   :output-dir "resources/public/js"
   :compiler-options {:infer-externs :auto}
   :devtools
   {:http-root "resources/public"
    :http-port 9333}

   :dev     {:modules {:main {:entries [start-dev]}}}

   :release {:modules {:main {:entries [engine.start]
                              :init-fn engine.start/-main}}
             :compiler-options {:optimizations :advanced}}}}}