;; shadow-cljs configuration
{:deps {:aliases [:shadow-cljs]}

 :builds
 {:game
  {:target :browser
   :output-dir "resources/public/js"
   :modules {:main {:entries [engine.start-dev]}}
   :compiler-options {:infer-externs :auto}
   :devtools
   {:http-root "resources/public"
    :http-port 9333}}}}