{:lint-as {com.rpl.specter/defcollector clojure.core/defn
           com.rpl.specter/defdynamicnav clojure.core/defn
           com.rpl.specter/defmacroalias clojure.core/def
           com.rpl.specter/defnav clojure.core/defn
           com.rpl.specter/defrichnav clojure.core/defn
           engine.macros/s-> clojure.core/->
           gloss.core/defcodec clojure.core/def
           minusthree.engine.utils/with-mem-free!? clojure.core/with-open}
 :config-paths ["../resources/clj-kondo.exports/chera/dofida"]}