{:linters {:dofida/angry {:level :error}}
 :hooks   {:analyze-call {minustwo.gl.macros/lwjgl hooks/gl-hook
                          minustwo.gl.macros/webgl hooks/gl-hook
                          odoyle.rules/ruleset hooks/odoyle-ruleset-hook}}}